name = "jobhackai-inactive-account-cleaner"
main = "src/index.js"
compatibility_date = "2024-12-11"

[triggers]
crons = ["0 4 1 * *"] # Monthly: 1st at 04:00 UTC

# TODO: Add RESEND_API_KEY as a Worker secret:
# wrangler secret put RESEND_API_KEY --env <environment>

[env.dev]
name = "jobhackai-inactive-account-cleaner-dev"
d1_databases = [
  { binding = "JOBHACKAI_DB", database_id = "c5c0eee5-a223-4ea2-974e-f4aee5a28bab" }
]

[env.qa]
name = "jobhackai-inactive-account-cleaner-qa"
d1_databases = [
  { binding = "JOBHACKAI_DB", database_id = "80d87a73-6615-4823-b7a4-19a8821b4f87" }
]

[env.production]
name = "jobhackai-inactive-account-cleaner-prod"
d1_databases = [
  { binding = "JOBHACKAI_DB", database_id = "f9b709fd-56c3-4a0b-8141-4542327c9d4d" }
]
